
<div class="body mb-3">

  <mat-card>
    <br>
    <b><h1>DashBoard</h1></b>
    <br>
  </mat-card>
  <br />
  <div class="row p-2">
    <div class="col-md-3">
      <div class="card">
        <div class="container">
          <div class="content">
            <h2 class="title">Total Category</h2>
            <h1 class="title">{{ data.count }}</h1>
            <button class="btn btn-primary" routerLink="/category">
              View Category
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="container">
          <div class="content">
            <h2 class="title">Total Product</h2>
            <h1 class="title">{{ product.procount }}</h1>

            <button class="btn btn-primary" routerLink="/products">
              View Product
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="container">
          <div class="content">
            <h2 class="title">Total Sales</h2>
            <h1 class="title">{{ data?.categoryCount }}10</h1>

            <button class="btn btn-primary" routerLink="/sales">
              View Sales
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
