<!--nav-->
<div class="nav">
  <div class="left">
    <a routerLink="/main">
      <h2>Pizza<span>H</span>ub</h2>
    </a>
  </div>
  <div class="right">
    <h2>
      <a (click)="open()">Register <span>N</span>ow</a>
    </h2>

    <h2>
      <a routerLink="/signin"><span>Sign</span>In</a>
    </h2>
    <div class="btn btn-dark" routerLink="/cart-page">
      <i style="font-size: 25px;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger" *ngIf="cartquantity">{{cartquantity}}</div>
    </div>
  </div>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>

<!--footer-->
<div class="footer">
  <div class="one">
    <h3><a href=""></a>Order Now </h3>
    <h5><a routerLink="/main/deals">Deals</a></h5>
    <h5><a href="">Sides</a></h5>
    <h5><a href="">Drinks</a></h5>
    <h5><a href="">Desserts</a></h5>
  </div>
  <div class="two">
    <h3><a href=""></a>About</h3>
    <h5><a href="">About us</a></h5>
    <h5><a href="">Contacless delivery</a></h5>
    <h5><a href="">Nutrition</a></h5>
    <!-- <h5><a href="">Career</a></h5> -->
  </div>
  <div class="three">
    <h3><a href=""></a>Our Policies</h3>
    <h5><a href="">Privacy</a></h5>
    <h5><a href="">Terms & Conditions</a></h5>
    <h5><a href="">Responsible disclosure</a></h5>
    <h5><a href="">FAQ</a></h5>
  </div>
</div>
