<!--nav-->
<div class="nav">
  <div class="left">
    <a routerLink="/main">
      <h2>Pizza<span>H</span>ub</h2>
    </a>
  </div>
  <div class="right">

    <h2>
      <a routerLink="admin"><h6>Admin</h6></a>
      <a routerLink="/signin"><span>Sign</span>In</a>
    </h2>
  </div>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>

<!--footer-->
<div class="footer">
  <div class="one">
    <h3><a href=""></a>Order Now </h3>
    <h5><a routerLink="/main/deals">Deals</a></h5>
    <h5><a href="">Sides</a></h5>
    <h5><a href="">Drinks</a></h5>
    <h5><a href="">Desserts</a></h5>
  </div>
  <div class="two">
    <h3><a href=""></a>About</h3>
    <h5><a href="">About us</a></h5>
    <h5><a href="">Contacless delivery</a></h5>
    <h5><a href="">Nutrition</a></h5>
    <h5><a href="">Career</a></h5>
  </div>
  <div class="three">
    <h3><a href=""></a>Our Policies</h3>
    <h5><a href="">Privacy</a></h5>
    <h5><a href="">Terms & Conditions</a></h5>
    <h5><a href="">Responsible disclosure</a></h5>
    <h5><a href="">FAQ</a></h5>
  </div>
</div>
