
.footer a{
  text-decoration: none;
  color: white;

}



span {
  color: orange;
}

.admin span{
  color: white;
}

.right h6{
  color: white;
  display: inline;
}

.right h6:hover{
  color: orange;
}

.right {
  display: flex;
  cursor: pointer;
  width: 490px;
}

.right h2{

  width: 250px;
  position: relative;
  left: -5%;

}

.right .btn{
  position: relative;
  left: -20%;


}

.nav{
  position: sticky;
  top: 0px;
  z-index: 50;
}

.bg{
  background-color: orange;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 5px;
}

.bg span{
  color: black;
}

#login{
  width: 100%;
  display: flex;

}

#login i{
  margin-left: 5px;
  position: relative;
  top: 3px;
  color: black;
}

#reg i{
  margin-left: 5px;
  position: relative;
  top: 3px;
  color: black;
}


