<div class="body">
  <app-searchbar></app-searchbar>
  <app-tags></app-tags>
<div class="container-md">
  <div class="row">
    <ng-container *ngFor="let food of foods">
      <div class="card col-md-3">
        <a routerLink="/food/{{ food.id }}">
          <img [src]="food.imageurl" [alt]="food.name" />
          <div class="card-body">
            <div class="name">
              <h5>{{ food.name | uppercase }}</h5>
            </div>
            <span class="favorite {{ food.favorite ? '' : 'not' }}">❤️</span>
            <div class="stars">
              <star-rating
                [value]="food.stars"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="black"
                size="22px"
                [readonly]="true"
              ></star-rating>
            </div>
            <div class="cooktime">
              <span> ⏱️ </span>
              {{ food.cooktime }}
            </div>
            <div class="button">
              <p>
                Price: <span style="color: green;">{{ food.price | currency:"INR" }}</span>
              </p>
            </div>
            <div class="button">
              <button class="btn btn-warning" (click)="addtocart()">Add to Cart</button>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
</div>


