mat-form-field{
  width: 100%;
}


.button{
  display: flex;
  padding-right: 2%

}

button{
  padding-right: 1%;
}

.dialogregister{
  background: rgba(255, 255, 255, 0.52);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.6px);
-webkit-backdrop-filter: blur(2.6px);
border: 1px solid rgba(255, 255, 255, 0.22);
}
